<h2>Список поездов</h2>

<% if @list.empty? %>
  <div class="alert alert-warning" role="alert">
    База данных пуста
  </div>
<% end %>

<% @list.each do |train| %>
  <p id="train">
    <ul>
      <li><%= "Номер поезда: #{train.number}" %></li>
      <li><%= "Пункт отправления: #{train.point_a}" %></li>
      <li><%= "Дата отправления: #{train.date_a}" %></li>
      <li><%= "Время отправления: #{train.time_a}" %></li>
      <li><%= "Пункт прибытия: #{train.point_b}" %></li>
      <li><%= "Дата прибытия: #{train.date_b}" %></li>
      <li><%= "Время прибытия: #{train.time_b}" %></li>
      <li><%= "Стоимость: #{train.cost}" %></li>
    </ul>
  </p>

  <form action="/list_trains/delete_train/<%= train.number %>" method="post">
    <button type="submit" class="btn btn-secondary">Удалить</button>
  </form>

<% end %>
